html, body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    background-color: hsl(204, 43%, 93%);
    display: grid;
    place-items: center center;
}

h1 {
    color: rgb(189, 76, 95);
}

a {
    text-decoration: none;
    color: black;
    line-height: 1.5;
    font-size: 1.2em;
    display: block;
}

a:hover {
    color: rgb(189, 76, 95);
}