/* VARIABLES */
:root {
  --color-neutral-light-gray-blue: hsl(210, 46%, 95%);
  --color-neutral-light-gray: hsl(0, 0%, 81%);
  --color-primary-dark-black-blue: hsl(219, 29%, 14%);
  --color-primary-dark-gray-blue: hsl(217, 19%, 35%);
  --color-primary-moderate-violet: hsl(263, 55%, 52%);
  --color-primary-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-neutral-light-gray-blue);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 100vh;
  margin: 1.2rem;
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
}

/* BLOCKS */
.card {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 2rem;
}

.card__heading {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card__position {
  margin: 0;
  margin-top: 0.4rem;
  opacity: 50%;
}

.card__review {
  font-size: 1.2em;
  font-weight: 500;
  opacity: 70%;
}

.attribution {
  color: var(--color-primary-dark-gray-blue);
  padding: 1.5rem;
}

.atttribution__link {
  color: var(--color-primary-moderate-violet);
  text-decoration: none;
}

/* MODIFIERS */
.card--big-text {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.card--medium-text {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.card--purple {
  background-color: var(--color-primary-moderate-violet);
  color: var(--color-primary-white);
}

.card--white {
  background-color: var(--color-primary-white);
  color: var(--color-primary-dark-black-blue);
}

.card--gray {
  background-color: var(--color-primary-dark-gray-blue);
  color: var(--color-primary-white);
}

.card--dark-blue {
  background-color: var(--color-primary-dark-black-blue);
  color: var(--color-primary-white);
}

.card--bg-quote {
  background-image: url(images/bg-pattern-quotation.svg);
  background-position: 85% 0%;
  background-repeat: no-repeat;
  background-size: 11em;
}

.card__picture--round {
  border-radius: 50%;
  margin-right: 1.5rem;
}

/* DESKTOP STYLE */
@media only screen and (min-width: 1100px) {
  .wrapper {
    display: grid;
    gap: 1.8em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 85%;
  }

  .card {
    margin-bottom: 0;
  }

  .card--grid-span-two-columns-first-row {
    grid-column: 1 / span 2;
  }

  .card--grid-span-two-rows {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .card--grid-span-two-columns-second-row {
    grid-column: 2 / span 2;
  }
}
