/* not supported in IE */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body {
  background: --light-grayish-blue;
}

h2 {
  font-size: 1.1em;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 40px 30px 0 30px;
}

.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 800px;
  min-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 30px;
  border-radius: 0 0 5px 5px;
}

.drawer-img {
  max-width: 100%;
  max-height: 100%;
  /* rounded top corners on picture */
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  font-size: 1em;
  font-weight: 500;
  margin: 1em 30px;
  color: hsl(212, 23%, 69%);
}

#contributor-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.contributor {
  color: hsl(214, 17%, 51%);
  font-weight: 700;
  margin: 0;
}

.date {
  color: hsl(212, 23%, 69%);
  margin-top: 5px;
}

button {
  border: none;
  border-radius: 50%;
  /* align child item to the right, similar to justify-self if that actually existed */
  margin-left: auto;
  width: 35px;
  height: 35px;
}

#share-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
  background: var(--very-dark-grayish-blue);
  color: hsl(210, 46%, 95%);
  border-radius: 0 0 5px 5px;
  min-width: 20px;
}

#share-container a {
  max-width: 35px;
  /* ensures responsive icons */
  width: 100%;
  height: auto;
}

.share-text {
  margin-right: 20px;
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--grayish-blue);
}

#share-icon {
  align-self: center;
}

#hide-socials-button {
  background: var(--desaturated-dark-blue);
  margin-right: 10px;
}

.share-icon-active {
  display: none;
}

/* ====== Media Query for Desktop ====== */

@media screen and (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  img {
    align-self: stretch;
  }

  h2 {
    font-size: 2em;
  }

  .text {
    font-size: 1.2em;
  }

  /* ====== Styling for modal with social media icons ====== */
  /* Modal container */
  #share-container {
    /* remove unecessary padding from mobile styling NOTE: not supported in IE*/
    padding: unset;
    padding: 10px 20px;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 90px;
    right: -65px;
    height: 40px;
    max-height: 100%;
    border-radius: 10px;
    max-width: 100%;
  }

  /* styling for adding upside down triangle */
  #share-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 12px solid transparent;
    border-bottom: 0;
    border-top-color: var(--very-dark-grayish-blue);
    margin-left: -12px;
    margin-bottom: -12px;
  }

  .share-text {
    display: inline;
    margin: 1em;
  }

  #share-container a {
    margin: 10px;
    width: 20px;
    /* ensures responsive icons */
    height: 20px;
    align-self: center;
  }

  #share-container a:hover {
   opacity: 0.7;
  }

  .active-icon {
    background-color: #6D7F97;
  }

  .active-icon #share-icon path {
    fill: hsl(210, 46%, 95%);
  }

  button:hover #share-container {
    display: block;
  }


}
