@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img {
    max-width: 100%;
    display: block;
  }
  
  a {
      text-decoration: none;
      color: black;
  }

/* UNIVERSAL STYLES */ 
html, body {
    min-height: 100vh;
    line-height: 1.5;
    color: black; 
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

h4 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color:hsl(210, 4%, 67%);
    letter-spacing: 0.2rem;
    padding: 2rem;
    text-align: center;
}

p {
    font-size: 0.85rem;
    color: hsl(210, 4%, 67%);
    font-weight: 600;
    max-width: 60ch;
}

/* HEADER STYLES */
header {
    padding: 1rem;
    /* loading color */
    background-color: hsl(200, 100%, 62%);
    background: 
        url(images/desktop/image-header.jpg)
        no-repeat center center;
    background-size: cover;
    height: 45vh;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar img {
    /* avoid image trying to stretch to fill space as that is default value */
    align-self: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 100%);
}

.hamburger:active .bar,
.hamburger:hover .bar {
    background-color: hsl(51, 100%, 49%);
}

.nav_menu {
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: hsl(0, 0%, 100%);
    margin: 1rem;
}

.nav_link:active,
.nav_link:hover {
    color: hsl(51, 100%, 49%);
}

.nav_contact-link {
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 0.8rem;
    color: black;
    margin-right: 0;
}

.nav_contact-link:active,
.nav_contact-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: hsl(0, 0%, 100%);
}

.arrow-down-icon {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

/* MAIN STYLES */
.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.first-grid-element {
    order: -1;
}

.grid_image {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    max-height: 450px;
}

.text-section {
    padding: 0.5rem 2rem;
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

.text-section * {
    margin-bottom: 1rem;
}

.text-section_link {
    text-transform: uppercase;
    font-family:  'Fraunces', serif;
    padding: 0 0.1rem ;
}

.text-section-bg {
   position: relative;
   text-align: center;
}

.text-on-img {
    width: 80%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.graphic-design-text h3 {
    color: hsl(167, 40%, 24%);
}

.photography-text h3 {
    color: hsl(198, 62%, 26%);
}

.graphic-design-text p {
    color: hsl(167, 40%, 40%);
    font-size: 0.8rem;
    max-width: 120ch;
}

.photography-text p {
    color: hsl(198, 62%, 40%);
    font-size: 0.8rem;
}

.client-testimonials {
    padding: 6rem 3rem;
    grid-column: 1 / 3;
    justify-self: center;
}

.testimonials_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.testimonial {
    margin: 1rem;
}

.testimonial * {
    padding: 0.6rem;
}

.testimonial_image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.testimonial p {
    text-align: center;
}

.testimonial_review {
    /* not sure about colour? */
    color: hsl(232, 10%, 55%);
    font-size: 0.8rem;
}

.client-name {
    font-family: 'Fraunces', serif;
    color: hsl(213, 9%, 39%);
    padding-bottom: 0;
}

.client-title {
    padding-top: 0.1rem;
    font-size: 0.8rem;
}

.gallery {
    display: flex;
}

.gallery img {
    flex-shrink: 1;
    min-width: 100px;
}

/* FOOTER STYLES */
footer {
    padding: 2rem;
    background-color: hsl(168, 42%, 66%);
    color: hsl(168, 34%, 41%);
}

footer ul {
    list-style: none;
}

/* TO-DO: make a center image utility class?? */
footer .logo {
    margin-left: auto;
    margin-right: auto;
}

.footer_menu ul {
    color:hsl(168, 34%, 41%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_menu a {
    margin-right: 1rem;
    color: hsl(168, 42%, 25%);
}

.footer_menu a:active,
.footer_menu a:hover {
    color: hsl(0, 0%, 100%);
}

.footer_social-media-links ul {
    display: flex;
    justify-content: center;
}

.footer_social-media-links li {
    margin: 0.5rem;
}

.social-media_link:hover svg path,
.social-media_link:hover svg path {
    fill: hsl(0, 0%, 100%);
}

/* SMALLER SCREENS AND MOBILE STYLES */
/* using em for consistency across browsers, equals 375px*/
@media only screen and (max-width: 41.875em)  {
    .nav_menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        color: hsl(213, 9%, 39%);
        background-color:hsl(0, 0%, 100%);
        width: 90%;
        transition: 0.3s;
        text-align: center;
        padding: 1.2rem;
        z-index: 1;
    }

    /* triangle/arrow decoration on box */ 
    .nav_menu::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 20px 25px 20px 0;
        border-color: transparent hsl(0, 0%, 100%) transparent transparent;
        right: 0;
        top: -20px;
    }

    .nav_menu.active {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav_item {
       margin: 1rem 0;
    }

    .nav_link {
        color: hsl(210, 4%, 67%);
    }

    .nav_contact-link {
        background-color:hsl(51, 100%, 49%);
        margin: 1rem 0;
    }

    .nav_contact-link:active,
    .nav_contact-link:hover {
        color: hsl(0, 0%, 0%);
        background-color: hsl(51, 80%, 78%);
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .main_grid {
        display: block;
    }

    .testimonials_wrapper {
        display: block;
    }

    .gallery {
        flex: 0 0 50px;
    }

    .text-on-img {
        width: 90%;
    }

    
      
}

/* UTILITY CLASSES */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-underline_yellow {
    background-image: linear-gradient(120deg, hsl(51, 80%, 78%) 0%, hsl(51, 80%, 78%) 0%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 100%;
}

.text-underline_pink {
    background-image: linear-gradient(120deg, hsl(7, 89%, 76%) 0%, hsl(7, 89%, 76%) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 100%;
}

.text-underline_yellow:active, 
.text-underline_yellow:hover {
    background-image: linear-gradient(120deg, hsl(51, 100%, 49%) 0%, hsl(51, 100%, 49%) 100%);
}

.text-underline_pink:active,
.text-underline_pink:hover {
    background-image: linear-gradient(120deg, hsl(7, 99%, 70%) 0%, hsl(7, 99%, 70%) 100%);
}
